<br>
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Cart</b></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">PRODUCT ID</div>
                <div class="col" >PRODUCT NAME </div>
                <div class="col">PRODUCT_COLOR</div>
                <div class="col">PRODUCT_PRICE</div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center" *ngFor="let item of items">
                    <div class="col-2">{{item.PRODUCT_ID}}</div>
                    <div class="col">
                        <!-- <div class="row text-muted">Radiology</div> -->
                        <div class="row">{{item.PRODUCT_NAME}}</div>
                    </div>
                    <div class="col">{{item.PRODUCT_COLOR}} </div>
                    <div class="col">Rs: {{item.PRODUCT_PRICE}} </div>
                </div>
            </div>
            <span type="button" class="close" (click)="emptyCart()" >Clear Cart &#10005;</span>
            <div class="back-to-shop"><a routerLink="/services">&leftarrow;</a><a class="text-muted" routerLink="/services">Back to Services</a></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <!-- <div class="row" *ngFor="let item of items">
                <div class="col" style="padding-left:0;">ITEM </div>
                <div class="col text-right">Rs {{item.Price}}</div>
            </div> -->
            <form>
                <div class="row">
                    <div class="col-md-12 px-1">
                      <div class="form-group">
                        <label style="color:black;">Full Address</label>
                        <input type="text" class="form-control" placeholder=""  name="address" [(ngModel)] = "orderaddress">
                      </div>
                    </div>
                  </div>
                <p>Choose payment method</p> <select>
                    <option class="text-muted">Cash on Delivery</option>
                </select>
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
            </div> <button class="btn" (click)="checkout()">CHECKOUT</button>
        </div>
    </div>
</div>
