
<div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title"> Patient List</h4>
          <p class="card-category"> List of all the Patients</p>
        </div>
        <br>
        <div class="spinner-border text-primary" role="status" *ngIf= "tableUploading">
          <span class="visually-hidden"></span>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Product Id
                </th>
                <th>
                  Product Name
                </th>
                <th>
                  Product Price
                </th>
                <th >
                  Product Color
                </th>
              </thead>
              <tbody *ngFor="let item of items">
                <tr > 
                  <td>
                    {{item.PRODUCT_ID}}
                  </td>
                  <td>
                    {{item.PRODUCT_NAME}}
                  </td>
                  <td>
                    {{item.PRODUCT_PRICE}}
                  </td>
                  <td >
                    {{item.PRODUCT_COLOR}} 
                  </td>
                </tr>
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
  
  